h1 {
  text-align: center;
}
h3#msg {
  position: absolute;
  color: white;
  font-family: Arial;
  width: auto;
}
div#moving {
  border: 1px solid  #f29db9;
  height: 50px;
  margin-left: 300px;
  margin-right: 300px;
  background-color:  #f29db9;
}
header { font-family: "Palatino Linotype";
    font-size: 100px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  nav { font-family:"Palatino Linotype";
    font-size: 35px;
    margin-right: auto;
    margin-left: auto;
  }
  a{
    text-decoration: none;
    text-align: center;
    color: #f29db9;
  }
  hr{
    width: 50%;
    color: black;
  }
  a:hover {
    background-color:#ffcc32;
   color: white; 
  }
  * {
    box-sizing: border-box;
  }
  img{
      width: 300px;
      height: 300px;
      border-style: dotted;
      border-color: #ffcc32;
      border-width: 0.5em;
      padding: 10pt;

  }
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  div{
  text-align: center;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f29db9;
    color: white;
    text-align: center;
 }
 a.foot{
   color:white;
 }